node_modules
.next
out
dist
build
coverage
.turbo
.vercel
.DS_Store
*.log
npm-debug.log*
.env
.env.local
.env.*.local
.env.development
.env.production
!.env.example
prisma/*.db
prisma/*.db-journal
.idea
.vscode/*
!.vscode/extensions.json
*.pem
.cursor
